@charset "utf-8";
@import url("..bootstrap/css/bootstrap-responsive.css") screen;

/*****HEADER****/
header.header{
  border-bottom: none;
}

  .header ul.nav {
    margin: 3px 0 10px;
  }

  .header button {
    border: none;
  }

  .header button b.caret{
    border-top-color: #999;
  }

    .header button:active b.caret,
    .header button:hover b.caret {
      border-top-color: #fff;
    }

  .header p.text-right {
    clear: both;
    font-size: 13px;
  }

/******SIDEBAR******/
  .nav-stacked li {
    margin-bottom: 10px;
    border-radius: 8px;
    line-height: 30px;
    background: url('../../assets/side-bar-list-bg.png');
  }

    .nav-stacked li a {
      padding: 5px 10px;
    }

    .nav-stacked .img-circle {
      padding: 0 9px;
      background-color: #00B4D4;
      text-align: left;
      margin-right: 12px;
      display: inline-block;
    }
 
      .nav-stacked .img-circle > [class *= glyphicon] {
        color: #eee;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
      }

      .nav-stacked .active .img-circle {
        background: #fff;
      }

    .nav-stacked li:hover a{
      background-color: rgba(0, 0, 0 ,0);
    }
    
    .nav-stacked li.active a,
    .nav-stacked li.active:hover a {
      background: #2FADE7;
    }

    .nav-stacked li a {
      color: #777;
    }

      .nav-stacked li a:focus {
        outline: none;
      }

/*******CONTENT******/
body > .container {
  min-height: 100%;
  padding-bottom: 85px;
}

  .profile-border {
    background: url("../../assets/profile-bg.jpg") no-repeat;
    height: 162px;
    width: 202px;
    padding: 6px;
    position: relative;
    left: -15px;
  }

    .profile-border .reviews-row {
      padding-top: 10px;
    }

      .reviews-row .review-text {
        font-size: 11px;
      }
    
      .reviews-row .rating {
        direction: rtl;
        cursor: pointer;
      }

      .reviews-row .rating span {
        background: url("../../assets/sprite-png.png") no-repeat;
        display: inline-block;
        position: relative;
        height: 15px;
        margin: 0 1px;
        width: 15px;
      }

        .reviews-row .rating span.empty-star {
          background-position: -4px -20px;
        }

        .reviews-row .rating span.full-star,
        .reviews-row .rating span:hover,
        .reviews-row .rating span:hover ~ span {
          background-position: -20px -20px;
        }

  .panel {
    border-radius: 9px;
  }

  .panel-heading {
    border-radius: 9px 9px 0 0;
  }

  .nested-panel {
      background: #FBFBFB;
      border: 1px solid #EAEAEA;
      padding: 10px 0;
      font-size: 13px;
    }

    .mechanic-panel-body {
      padding-right: 35px;
    }

      .mechanic-panel-body > .nested-panel {
        padding-left: 10px;
      }

      .mechanic-panel-body .col-md-4 {
        width: 30%;
      }

      .mechanic-panel-body .col-md-8 {
        width: 70%;
      }

    .panel-right-border {
      border-right: 1px dotted #ccc;
    }

    .panel .panel-title {
      float: left;
      font-size: 15px;
      font-weight: bold;
    }

    .panel-heading > .tools {
      position: absolute;
      top: 5px;
      right: 25px;
      padding: 6px;
      border-left: 1px solid #E0DEDE; 
    }

    .panel [class *= "glyphicon"] {
      font-size: 11px;
    }

    .panel [class *= "glyphicon-chevron-down"] {
      color: #979797;
      font-size: 14px;
    }

      .panel [class *= "glyphicon-chevron-down"]:active,
      .panel [class *= "glyphicon-chevron-down"]:focus {
        outline: none;
        text-decoration: none;
      }

    .panel [class *= "glyphicon-play"] {
      font-size: 8px;
    }

      .panel .panel-title > [class *= glyphicon] {
        font-size: 14px;
      }

      .panel .panel-title a {
        color: #22878E;
        font-weight: bold;
        font-size: 15px;
      }

        .panel a:hover {
          text-decoration: none;
        }


/********FOOTER********/
/*#footer {
    background: url("../../assets/footer-bg.jpg") repeat-x scroll left top #17130F;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 20px 5px;
    text-align: left;
    height: 70px;
}
*/
    