@charset "utf-8";

html, body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: #666;
}

.wrap {
  height: auto !important;
  min-height: 100%;
}

.btn-dark {
  background: #484848;
  color: #fff;

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: #292929;
    color: #fff;
  }
}

.brand img {
  padding-top: 10px;
}

/*****HEADER****/
header.header {
  border-bottom: none;

  ul.nav {
    margin: 3px 0 10px;
  }

  button {
    border: none;
  
    .caret{
      border-top-color: #999;
    }

    &:active .caret,
    &:hover .caret {
      border-top-color: #fff;
    }
  }

  p.text-right {
    clear: both;
    font-size: 13px;
  }
}
/******SIDEBAR******/
.nav-stacked {
  
  li {
    margin-bottom: 10px;
    border-radius: 8px;
    line-height: 30px;
    background: url('/assets/side-bar-list-bg.png');

    a {
      color: #777;
      padding: 6px 10px;

      &:focus {
        outline: none;
      }
    }

    &:hover a{
      background-color: rgba(0, 0, 0 ,0);
    }

    &.active a,
    &.active:hover a {
      background: #2FADE7;
    }
  }

  .img-circle {
    padding: 0 9px;
    background-color: #00B4D4;
    text-align: left;
    margin-right: 12px;
    display: inline-block;

    > [class *= glyphicon] {
      color: #eee;
      font-size: 16px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
    }
  }

  .active .img-circle {
    background: #fff;
  }
}

/*******CONTENT******/
.wrap > .container {
  padding-bottom: 90px;
}

.profile-border {
  background: url("/assets/profile-bg.jpg") no-repeat;
  height: 162px;
  width: 202px;
  padding: 6px;
  position: relative;
  left: -15px;

  .reviews-row {
    padding-top: 10px;

    .review-text {
      font-size: 11px;
    }

    .rating {
      direction: rtl;
      cursor: pointer;

      span {
        background: url("/assets/sprite-png.png") no-repeat;
        display: inline-block;
        position: relative;
        height: 15px;
        margin: 0 1px;
        width: 15px;
      }

      span.empty-star {
        background-position: -4px -20px;
      }

      span.full-star,
      span:hover,
      span:hover ~ span {
        background-position: -20px -20px;
      }
    }
  }
}

.panel {
  border-radius: 9px;
}

.panel-default .panel-heading {
  border-radius: 9px 9px 0 0;
  padding: 9px 15px;
  background: url("/assets/widget-title-bg.jpg") repeat-x;
}

.panel-body {
  padding-bottom: 11px;
}

.nested-panel {
  background: #FBFBFB;
  border: 1px solid #EAEAEA;
  padding: 7px 0 10px;
  font-size: 13px;
  margin-bottom: 13px;

  p{
    margin-bottom: 8px;
  }

  .btn-info {
    background: #22C0CB;
    padding: 4px 12px;

    &:hover {
      background: #15b4cb;
    }
  }
}

.mechanic-panel-body {
  padding: 15px 35px 15px 15px;

  > .nested-panel {
    padding: 10px;
  }

  .col-md-4 {
    width: 30%;
  }

  .col-md-8 {
    width: 70%;
  }
}

.panel-right-border {
  border-right: 1px dotted #ccc;
}

.panel {

  .panel-title {
    float: left;
    font-size: 15px;
    font-weight: bold;

    a {
      color: #22878E;
      font-weight: bold;
      font-size: 15px;
    }

    > [class *= glyphicon] {
      font-size: 14px;
    }
  }

  a:hover {
      text-decoration: none;
  }

  [class *= "glyphicon"] {
    font-size: 11px;
  }

  [class *= "glyphicon-chevron-down"] {
    color: #979797;
    font-size: 14px;

    &:active,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }

  [class *= "glyphicon-play"] {
    font-size: 8px;
    position: relative;
    top: -1px;
  }
}

.panel-heading > .tools {
  position: absolute;
  top: 5px;
  right: 25px;
  padding: 6px 6px 3px;
  border-left: 1px solid #E0DEDE; 
}

/********FOOTER********/
.footer {
  background: url("/assets/footer-bg.jpg") repeat-x scroll left top #17130F;
  color: #FFFFFF;
  font-size: 15px;
  padding: 20px 20px 5px;
  height: 70px;
  position: relative;
  margin-top: -70px;

  .navbar-nav {
    text-transform: uppercase;

    a {
      color: #fff;
      font-size: 13px;
      padding: 0 20px 0 0;

      &:hover {
        color: #06f;
        background: none;
      }
    }
  }

  .social {
    position: relative;
    top: -3px;
    margin-left: 5px;

    [class^="icon-"] {
      display: inline-block;
      width: 28px;
      height: 28px;
      vertical-align: text-top;
    }

    .icon-facebook { 
      background: url('/assets/icon-facebook.jpg');
    }

    .icon-twitter { 
      background: url('/assets/icon-twitter.jpg');
    }

    .icon-google-plus { 
      background: url('/assets/icon-google-plus.jpg');
    }
  }
}
