.row
  .col-md-12
    = link_to edit_users_profile_path, class: 'btn btn-info pull-right col-md-2 bottom-margin' do
      %i.icon-pencil
      Edit Profile
= render 'shared/profile_description', profile: current_user, title: 'reviews left'
