.pull-right
  = link_to 'Back to profile', edit_admins_mechanic_path(@mechanic), class: 'btn btn-primary'
  = link_to 'Add bank account', new_admins_mechanic_payout_method_path(@mechanic), class: 'btn btn-primary'

%h4 #{@mechanic.full_name} - bank accounts

- if @mechanic.payout_methods.any?
  %table.table.table-striped
    %thead
      %tr
        %th Account name
        %th Account number
        %th BSB number
        %th
    %tbody
      = render @mechanic.payout_methods
- else
  %h5.text-center No bank accounts
