.pull-right
  = link_to "Edit profile", edit_admins_mechanic_path(@mechanic), class: 'btn btn-primary'
  = link_to 'Add Payout Method', new_admins_mechanic_payout_method_path(@mechanic), class: 'btn btn-primary'

= render(@mechanic.payout_methods.any? ? 'admins/payout_methods/payout_methods' : 'admins/payout_methods/no_payout_methods')

