.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-body
        %ul.nav.nav-tabs
          %li.active
            = link_to 'Upcoming Jobs', '#scheduled-jobs', :data => {:toggle => 'tab'}
          %li
            = link_to 'Completed Jobs', '#past-jobs', :data => {:toggle => 'tab'}
        .tab-content
          #scheduled-jobs.tab-pane.active
            - if @upcoming_jobs.length > 0
              = render partial: 'mechanics/jobs/panel/upcoming_job', collection: @upcoming_jobs, as: :job
            - else
              %h5 You have no upcoming jobs

          #past-jobs.tab-pane
            - if @completed_jobs.length > 0
              .table-responsive
                %table.table.table-striped.table-bordered
                  %thead
                    %tr.active
                      %th Client Name
                      %th Car
                      %th Services
                      %th Total Cost
                      %th{colspan: "2"} Option
                  %tbody
                    = render partial: 'mechanics/jobs/panel/completed_job', collection: @completed_jobs, as: :job
            - else
              %h5 You have no completed jobs
