%p Hi #{ @job.user.first_name },

%p We've noticed that you started an estimate with us but did not book an appointment, so we wanted to check in with you to see if you had any questions or if you need additional assistance. We'd be more than happy to help. 

%p You can see the fixed price and a list of our professional mobile mechanics by clicking on #{ link_to 'this link', edit_users_appointment_url(@job) }

= render '/shared/mail_footer'
