%p Hello, #{@job.user.full_name},

%p Thanks for requesting a quote for your #{@job.car.display_title}.

%p
  We'll be sending you a fixed, competitive quote within 24 hours.
  %br
  Then we'll match you with qualified mobile mechanics who will work on your car when you're ready.

%p Check my quote status

%p Thank you for choosing Mechanio!<br/>The Mechanio Team
