%p Hi #{@job.user.first_name},

%p Thank you for Choosing Mechanio! 

%p Please see the receipt attached. We hope your experience with us was pleasant and to your satisfaction.

%p You can also see a copy of your receipt in your #{ link_to 'Online Account', users_appointments_url }

= render '/shared/mail_footer'
