%p Hello, #{@job.user.full_name},

%p Your job was assigned to mechanic

%p You can review your appointments #{link_to 'here', users_estimates_url}

%br
%p
  Thanks for using us,
  %br
  Mechanio team
