%p Hello, #{@job.user.full_name},

%p Thanks for requesting a quote for your #{@job.car.display_title}.

%p For your convenience, we've saved your quote on your online account.

%p
  Click
  = link_to 'here', edit_users_appointment_url(@job)
  to see your quote and book an appointment with our qualified mechanics.
  %br
  Please do not hesitate to contact us if you have any questions or special requests.

%p Thank you for choosing Mechanio!<br/>The Mechanio Team
