Hello, #{@job.user.full_name},

We have received your job request, our team will provide an estimate in 2 hours tops.

You can review your jobs #{link_to 'here', users_estimates_url}


Thanks for using us,

Mechanio team
