%p Hello, #{@job.client_name},

%p Thanks for requesting a quote for your #{@job.car.display_title}.

%p
  We'll be sending you a fixed, competitive quote within 24 hours.
  %br
  Then we'll match you with qualified mobile mechanics who will work on your car when you're ready.

%p= link_to 'Check my quote status', users_estimates_url

= render '/shared/mail_footer'
