%p Hello, #{@job.user.full_name},

%p We have received your job request, our team will provide an estimate in 2 hours tops.

%p You can review your jobs #{link_to 'here', users_estimates_url}

%br
%p
  Thanks for using us,
  %br
  Mechanio team
