#step-diagnose{ 'ng-controller' => 'DiagnoseController', 'ng-init' => 'init()', 'ng-show' => 'stepVisible("diagnose")', 'ng-form' => 'diagnose_form' }
  .wizard-body
    %h2.hx-default PLEASE SELECT WHEN THE LAST TIME YOU SERVICED YOUR CAR WAS - IN KM OR DATE - WHICHEVER CAME FIRST
    %hr.hr-dark-gray
    .row
      .col-md-6
        = f.simple_fields_for :task do |s|
          = s.input :service_plan_id, label: false, include_blank: '-- Please select --', collection: [], input_html: { 'ng-model' => 'service_plan', 'ng-options' => 'v.display_title for v in service_plans', 'ng-disabled' => 'service_plans.length == 0', 'ng-focus' => true, 'required' => true }
  %hr
  %button.btn.btn-default{ 'type' => 'button', 'ng-click' => 'gotoStep("car-details")' }
    %small &#x276E;
    Back
  %button.btn.btn-primary.pull-right{ 'type' => 'button', 'ng-click' => 'submit()', 'ng-disabled' => '!valid()' }
    Continue
    %small &#x276F;
