.step-quote{ 'ng-controller' => 'QuoteController', 'ng-show' => 'stepVisible("quote")', 'ng-init' => 'init()' }
  = render 'users/jobs/steps/loading'

  %div{ 'ng-hide' => 'loading' }
    = render 'users/jobs/steps/loading_error'

    .wizard-body{ 'ng-hide' => 'error' }
      %div{ 'ng-show' => 'total' }
        %h4 Here is your quote
        %hr.hr-dark-gray
        %h4 {{total | currency}}

      %div{ 'ng-hide' => 'total' }
        %h4 Thanks for requesting a quote!
        %hr.hr-dark-gray
        %h4 Here's what's going to happen:
        .row
          %p.col-md-8
            We'll give you a call with a fixed quote within two hours, and match you with qualified mobile mechanics
            who can work on your car when you're ready.
    %hr

    .controls{ 'ng-hide' => 'error' }
      %div{ 'ng-show' => 'total' }
        %a.btn.btn-primary.pull-right{ 'ng-href' => '/users/appointments/{{job_id}}/edit' }
          Pick a mechanic
          %small &#x276F;

      %div{ 'ng-hide' => 'total' }
        = link_to 'Check my job status', users_estimates_path, class: 'btn btn-primary'

