= image_tag mechanic.avatar_url(:thumb), class: 'avatar'
.reviews-row.clearfix
  .rating.pull-left
    = average_rating(mechanic.rating)
  %span.review-text.pull-right= pluralize mechanic.ratings.size, 'Review'
