= t.simple_fields_for :task_items, TaskItem.new, child_index: '{{$index}}' do |ti|
  = ti.simple_fields_for :itemable, ServiceCost.new, defaults: { label: false, wrapper: false, input_html: { class: 'input-sm', required: true } } do |i|
    .actions
      %i.glyphicon.glyphicon-remove
    .desc
      .form-control-static {{item.itemable.description}}
    .pull-right
      .total
        .form-control-static {{item.total() | formatted_cost}}
