:javascript
  $(function() {
    $('#calendar').fullCalendar({
        // put your options and callbacks here
    });
  });
.row
  .col-md-12
    = link_to 'Back', edit_mechanics_profile_path, class: 'btn btn-info pull-right col-md-2 bottom-margin'
.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          Availabilities
      .panel-body.modal-body
        .row
          %h1 Calendar
          #calendar
        .row
