= render 'shared/user/view_profile', user: current_user, show_comments: false

.row
  .col-md-4
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title Verifications
      .panel-body
  .col-md-8
    .panel.panel-default.panel-rounded.user-closest-appointment
      .panel-heading
        %h4.panel-title Booked Appointments
      #js-collapse-three.panel-collapse.collapse.in
        .panel-body
          - if @appointment
            = render 'booked_appointment'
          - else
            %h5 No appointments

.row
  .col-md-4
    .panel.panel-default.panel-rounded
      .panel-heading
        %h4.panel-title Reviews Outstanding
      .panel-body
  .col-md-8
    .panel.panel-default.panel-rounded.user-last-estimated
      .panel-heading
        %h4.panel-title My Estimates
      #js-collapse-five.panel-collapse.collapse.in
        .panel-body
          - if @estimate
            = render 'last_estimate'
          - else
            %h5 No estimates
