= render 'shared/user/view_profile', user: current_user, show_comments: false

.row
  .col-md-12
    .panel.panel-default.panel-rounded.user-closest-appointment
      .panel-heading
        %h4.panel-title Booked Appointments
      #js-collapse-three.panel-collapse.collapse.in
        .panel-body
          = render @appointment ? 'booked_appointment' : 'shared/no_appointments'
.row
  .col-md-12
    .panel.panel-default.panel-rounded.user-last-estimated
      .panel-heading
        %h4.panel-title My Estimates
      #js-collapse-five.panel-collapse.collapse.in
        .panel-body
          = render @estimate ? 'last_estimate' : 'shared/no_estimates'
