%div{ 'ng-controller' => 'SymptomsController', 'ng-init' => "symptoms = #{@symptoms}" }
  .row
    .col-md-8
      -#= link_to 'Add symptom', new_admins_symptom_path, class: 'btn btn-primary pull-right'
      %h4 Manage symptoms

  %ul.symptoms
    %li{ 'ng-repeat' => 'parent in symptoms | filter:isParent', 'ng-include' => '"symptoms"' }

  %script{ type: 'text/ng-template', id: 'symptoms' }
    %strong {{parent.description}}
    %span{ 'ng-show' => 'parent.comment' }
      &dash; {{parent.comment}}
    %ul{ 'ng-if' => 'childrenCount(parent)' }
      %li{ 'ng-repeat' => 'parent in symptoms | filter:childrenOf(parent)' }
        %div{ 'ng-include' => '"symptoms"' }
