%ul.nav.nav-pills.nav-stacked
  = active_li 'Edit Profile', edit_admins_mechanic_path(@mechanic), 'admins/mechanics'
  = active_li 'Edit Regions', edit_admins_mechanic_regions_path(@mechanic), 'admins/mechanics/regions'
  = active_li 'Jobs', admins_mechanic_jobs_path(@mechanic), 'admins/mechanics/jobs'
  = active_li 'Payout Information', edit_admins_mechanic_payout_method_path(@mechanic), 'admins/mechanics/payout_methods'
