%tr
  %td
    .label.label-warning Awaiting Feedback
  %td 30,000 KM Servicing
  %td Vera Liu
  %td 2011 Toyota Corolla L4-1.8L
  %td Apr 9-15, 2012
  %td
    = link_to '#', title: 'Leave Feedback', :data => {:toggle => 'tooltip'} do
      .big.icon-share
    = link_to '#tab_1_4', title: 'View Job', :data => {:toggle => 'tab'} do
      .big.icon-list-alt{{title: 'View Job', data: {toggle: 'tooltip'}}}
    = link_to '#', title: 'View Receipt', :data => {:toggle => 'tooltip'} do
      .big.icon-picture
