.panel.panel-default.panel-rounded
  .panel-body
    %h5.panel-title VEHICLE
    %hr.hr-dark-gray
    = @job.car.display_title

.panel.panel-default.panel-rounded
  .panel-body
    %h5.panel-title CAR SERVICING
    %hr.hr-dark-gray
    %ul
      - @job.tasks.each do |t|
        %li
          %p= t.title

.panel.panel-default.panel-rounded
  .panel-body
    %h5.panel-title LOCATION
    %hr.hr-dark-gray
    %ul
      %li= @job.location.address
      %li= @job.location.suburb_name
