.modal.fade.autoclose
  .modal-dialog
    .modal-content
      .modal-header
        %h4 Success!
      .modal-body
        %p Your appointment has been booked.
      .modal-footer
        %button.btn.btn-primary{ 'type' => 'button', 'data-dismiss' => 'modal' } Close
