.row
  %div
    %section.col-md-9
      %h4.black Select An Appointment
      = render partial: 'users/appointments/mechanic', collection: @mechanics
    %aside.col-md-3
      = render 'sidebar', job: @job
