.panel.panel-default.panel-rounded
  .panel-heading
    %h4.panel-title
      %span.text-info Nandjroo Andrew
  .panel-body
    .alert.alert-info
      %i.icon-time
      %small 11 : 00 AM,
      May 8, 2013 (Friday)
      %i.icon-map-marker
      123 ABC st, Mountain View, CA, 92012
    %table.table.without-border
      %tr
        %td
          %b Car:
        %td
          2000 Toyota Corolla L4-1.8L
      %tr.tr-divider
        %td
          %b Services:
        %td
          Car is making a noice (inspection)
        %td
          Mechanic Fee
        %td.text-right
          $90.00
      %tr
        %td{colspan: '2'}
        %td
          %table.col-md-12.pull-right
            %tr.tr-divider
              %td.text-left
                Parts Costs
        %td
          %table.col-md-12.pull-right
            %tr.tr-divider
              %td.text-right
                $90.00
      %tr
        %td{colspan: '3'}
      %tr.tr-divider
        %td
          %b Services:
        %td
          Car is making a noice (inspection)
        %td
          Mechanic Fee
        %td.text-right
          $90.00
      %tr
        %td{colspan: '2'}
        %td
          %table.col-md-12.pull-right
            %tr.tr-divider
              %td.text-left
                Parts Costs
        %td
          %table.col-md-12.pull-right
            %tr.tr-divider
              %td.text-right
                $90.00
      %tr
        %td{colspan: '2'}
        %td
          %b Total Fees
        %td.text-right
          %b $90.00
    = link_to 'View Details', '#', class: 'btn btn-success pull-right'
