%p
  Thank you for choosing Mechanio!
  %br
  The Mechanio Team
  %br
  Questions? Email #{ link_to 'support@mechanio.com', 'mailto:support@mechanio.com' } | Call 1300 766 781
  %br
  %p{ style: 'float: right' } Copyright ©2012-2014
  This email was written with love at Mechanio
  #{ link_to 'www.mechanio.com', 'http://www.mechanio.com' }
