= verify_icon 'Contact Verified', "icon-phone", account.phone_verified
= verify_icon 'Super Mechanic', nil, account.super_mechanic, 'S'
= verify_icon 'Warranty Covered', "icon-thumbs-up", account.warranty_covered
= verify_icon 'Qualification Verified', "icon-book", account.qualification_verified
