.navbar.navbar-default.navbar-fixed-top
  .container
    = link_to 'Mechanio', root_path, class: 'navbar-brand'
    .navbar-right
      = link_to 'Sign up', '#', class: 'btn btn-default navbar-btn'
      = link_to 'Login', '#', class: 'btn btn-default navbar-btn'