%h4 Mechanic details

%hr.hr-dark-gray
= link_to "Delete", admin_mechanic_path(@mechanic), method: :delete, class: 'btn btn-danger col-md-1 col-md-offset-11', data: { confirm: 'Are you sure to delete the mechanic?' }
= render 'form'
