.homepage
  #home-carousel
  .jumbotron
    .container
      %h2 Service your car conveniently with reliable mechanic
      = link_to 'Car needs servicing', new_users_job_path, class: 'btn btn-primary btn-lg'
      = link_to 'Fix your car problem', '#', class: 'btn btn-primary btn-lg'

    .container
      %h1 WATCH HOW MECHANIO WILL CHANGE THE WAY YOU SERVICE YOUR CAR FOREVER!