.jumbotron
  .container
    %h1 Mechanio
    %p Service your car conveniently with reliable mechanic
    = link_to 'Car needs servicing', '#', class: 'btn btn-primary btn-lg'
    = link_to 'Fix your car problem', '#', class: 'btn btn-primary btn-lg'