:coffee
  jQuery ->
    show_flash_notice = (class_name, message) ->
      $('.js-flash-notice').before('<div class="alert alert-' + class_name + '">' + message + '</div>');

    $calendar = $('#calendar')

    $calendar.fullCalendar
      header: { left: 'title', center: '', right: 'prev,next,today' }
      events: #{ @events },
      eventClick: (event, e, view) ->
        return false if event.className[0] == 'work'

        $('#delete-timeslot-form #event_id').val(event.id)
        $('#delete-timeslot-form #event_date').val(event.start)
        $('#delete-timeslot-modal').modal()
        false

      dayClick: (date, allDay, jsEvent, view) ->
        $('.fc-state-highlight').removeClass('fc-state-highlight')
        $('#event_start_date').val(date)
        $(this).addClass('fc-state-highlight')
        $('#block-timeslot-modal').modal()


.row.js-flash-notice
.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-body.modal-body
        .row
          .col-md-12
            #calendar
        .row
          .calendar-hint.clearfix
            .work
            .work-label
              Scheduled job
            .day-off
            .day-off-label
              Blocked timeslot
              %br
              (Click on a blocked timeslot to unblock)

= render 'timeslot_modal'
= render 'delete_timeslot_modal'
