:coffee
  jQuery ->
    show_flash_notice = (class_name, message) ->
      $('.js-flash-notice').before('<div class="alert alert-' + class_name + '">' + message + '</div>');

    $calendar = $('#calendar')

    $calendar.fullCalendar
      header: { left: 'title', center: '', right: 'prev,next,today' }
      events: #{ @events },
      eventClick: (event) ->
        return false if event.className[0] == 'work'

        if confirm("Are you sure you want to delete this record?")
          $.post(event.url, { _method: 'DELETE' }, () ->
            show_flash_notice('success', 'Event successfully deleted')
            $calendar.fullCalendar('removeEvents', event.id)
          ).fail () ->
            show_flash_notice('danger', 'Cannot delete event with job')

        false

      dayClick: (date, allDay, jsEvent, view) ->
        $('.fc-state-highlight').removeClass('fc-state-highlight')
        $('#event_date_start').val(date)
        $(this).addClass('fc-state-highlight')
        $('#block-timeslot-modal').modal()


.row.js-flash-notice
.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-body.modal-body
        .row
          .col-md-12
            #calendar
        .row
          .calendar-hint.clearfix
            .work
            .work-label
              Scheduled job
            .day-off
            .day-off-label
              Blocked timeslot
              %br
              (Click on a blocked timeslot to unblock)

= render 'timeslot_modal'
