-# add original css, and after that change on bootstrap 3.0
-# a need to replace by link_to
-# img need to replace by img_tag
.container
  .row
    / Left Navigation Part
    .col-md-3.nav-collapse
      %ul.nav.nav-pills.nav-stacked
        %li.active
          = link_to 'mechanic-dashboard.html' do
            %span.img-rounded  
              %i.glyphicon.glyphicon-dashboard
            Dashboard
        %li
          %a{href: "mechanic-profile.html"}
            %i.glyphicon.glyphicon-user
            My Profile
        %li
          %a{href: "mechanic-jobs.html"}
            %i.glyphicon.glyphicon-thumbs-up
            My Jobs
        %li
          %a{href: "mechanic-payout.html"}
            %i.glyphicon.glyphicon-credit-card
            Payout Information
        %li
          %a{href: "mechanic-settings.html"}
            %i.glyphicon.glyphicon-calendar
            Settings

    / Right Content Part
    %section.col-md-9#main-content
      / Profile Part
      .row
        .col-md-12
          .panel
            .widget-title
              %h4
                %i.icon-user
                Bob Mechanic
              %span.tools
                %a.icon-chevron-down{href: "javascript:;"}
            .widget-body
              .well
                .MechProfile.col-md-4
                  .profileImg
                    %img(src="../../assets/images/photo.jpg")
                    .ReviewsRow
                      .stars
                        %span.Color &nbsp;
                        %span.Color &nbsp;
                        %span.Blank &nbsp;
                        %span.Blank &nbsp;
                        %span.Blank &nbsp;
                      %span.revieText 12 Reviews
                .col-md-8.greybox.margin0
                  %h3 Hi, I'm your Mechanic Bob Mechanic
                  %p.MB10 Punched Russell Crowe in the face onece. Felt Nice.

      / Upcoming Jobs Part
      .row
        .col-md-12
          .panel
            .widget-title
              %h4
                %i.glyphicon.glyphicon-user
                %a(href="mechanic-jobs.html#scheduled-jobs")
                  Upcoming Jobs
              %span.tools
                %a.glyphicon.glyphicon-chevron-down(href="javascript:;")
            .widget-body
              .well
                .col-md-7.BorderDotRight
                  %p
                    %b.text-info
                      Andrew Nandjroo
                  %p
                    %i.icon-caret-right
                    2000 Ford Mustang V6-3 OL
                  %p
                    %b Services:
                    Car is making a noise (inspection)
                .col-md-5
                  %p
                    %i.glyphicon.glyphicon-time
                    %small
                      11 : 00 AM,
                    May 8, 2013 (Friday)
                  %p
                    %i.glyphicon.glyphicon-map-marker
                    123 ABC st, Mountain View, CA, 92012
                  %a.fright.btn.btn-info(href="scheduled-job-details.html")
                    View Details
                .clearfix
              .well
                .col-md-7.BorderDotRight
                  %p
                    %b.text-info Andrew Nandjroo
                  %p
                    %i.glyphicon.glyphicon-caret-right
                    2000 Ford Mustang V6-3 OL
                  %p
                    %b Services:
                    Car is making a noise (inspection)
                .col-md-5
                  %p
                    %i.glyphicon.glyphicon-time
                    %small 11 : 00 AM,
                    May 8, 2013 (Friday)
                  %p
                    %i.glyphicon.glyphicon-map-marker
                    123 ABC st, Mountain View, CA, 92012
                  %a.fright.btn.btn-info(href="scheduled-job-details.html") View Details
                .clearfix
        / Completed Jobs Part
      .row
        .col-md-12
          .panel
            .widget-title
              %h4
                %i.glyphicon.glyphicon-user
                %a(href="mechanic-jobs.html#past-jobs") Completed Jobs
              %span.tools
                %a.glyphicon.glyphicon-chevron-down(href="javascript:;")
            .widget-body
              .well
                .col-md-7.BorderDotRight
                  %p
                    %b.text-info Andrew Nandjroo
                  %p
                    %i.glyphicon.glyphicon-caret-right
                    2000 Ford Mustang V6-3 OL
                  %p
                    %b Services:
                    Car is making a noise (inspection)
                .col-md-5
                  %p
                    %i.glyphicon.glyphicon-time
                    %small 11 : 00 AM,
                    May 8, 2013 (Friday)
                  %p
                    %i.glyphicon.glyphicon-map-marker
                    123 ABC st, Mountain View, CA, 92012
                  %a.fright.btn.btn-info(href="mechanic-completed-job.html") View Details
                .clearfix
              .well
                .col-md-7.BorderDotRight
                  %p
                    %b.text-info Andrew Nandjroo
                  %p
                    %i.glyphicon.glyphicon-caret-right
                    2000 Ford Mustang V6-3 OL
                  %p
                    %b Services:
                    Car is making a noise (inspection)
                .col-md-5
                  %p
                    %i.glyphicon.glyphicon-time
                    %small 11 : 00 AM,
                    May 8, 2013 (Friday)
                  %p
                    %i.glyphicon.glyphicon-map-marker
                    123 ABC st, Mountain View, CA, 92012
                  %a.fright.btn.btn-info(href="mechanic-completed-job.html") View Details
                .clearfix
