= link_to "Add service plan", new_admins_service_plan_path, class: 'btn btn-primary btn-sm pull-right'
%h4 Default service plans

.table-responsive
  %table.table.table-striped
    %tbody
      = render 'table_body'
