.panel.panel-default.panel-rounded
  .panel-body
    %h5.panel-title YOU'VE ANSWERED
    %hr.hr-dark-gray
    .progress.progress-rounded
      .progress-bar.progress-bar-gradinet(role="progressbar" style="width: {{ progress }}%;")

.panel.panel-default.panel-rounded{ 'ng-show' => 'data.car.display_title' }
  .panel-body
    %h5.panel-title VEHICLE
    %hr.hr-dark-gray
    {{ data.car.display_title }}

.panel.panel-default.panel-rounded{ 'ng-show' => 'data.tasks.length' }
  .panel-body
    %h5.panel-title CAR SERVICING
    %hr.hr-dark-gray
    %ul
      %li{ 'ng-repeat' => 'task in data.tasks' }
        %p {{ task.title }}

.panel.panel-default.panel-rounded{ 'ng-show' => 'data.location.address' }
  .panel-body
    %h5.panel-title LOCATION
    %hr.hr-dark-gray
    %ul
      %li {{ data.location.address }}
      %li {{ data.location.suburb }}
      %li {{ data.location.state_name }}, {{ data.location.postcode }}
