.about-wrap
  .bg-white.about-us
    .container
      .col-md-12
        %h3.to-upper.black About us
        %p Mechanio was founded in 2012 with the goal to make car servicing and repair accountable, affordable and convenient. In Australia, the auto-repair industry has been stagnant for generations, and we at Mechanio believe that customers deserve a new and fresh way to get your car fixed or serviced without having to go through countless phone books, websites and still getting ripped off by shoddy mechanics.
        %p Everybody is busy – in fact, Mechanio was conceived one lazy Aussie weekend (read: it was a good time to throw up the BBQ) when founder Andrew had to take his car serviced. Being a busy family man, he had 99 other problems to take care of; the last thing he wanted to do was to take old faithful to the dealer halfway across Sydney.
        %p He thought: Wouldn’t it be great to find a trusted mechanic who was to service my car at my own garage while I continue having my Barbie?
        %p And Mechanio was born not soon after.
