.navbar.navbar-default
  .navbar-brand Manage discounts
  = render 'admins/shared/search_box', index_page: admins_discounts_path
  = link_to 'Add discount', new_admins_discount_path, class: 'btn btn-sm btn-primary navbar-btn navbar-right'

- if @discounts.count > 0
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Code
          %th Value
          %th Uses left
          %th Starts on
          %th Ends on
          %th{ style: 'width: 10%' }
      %tbody
        = render @discounts
  = paginate @discounts
- else
  %p.text-center No discounts found
