%h4 Jobs list

:javascript
  $(function() {
    $('#filter').change(function() {
      $(this).closest('form').submit();
    });
  });

= form_tag '?', method: :get do
  = select_tag "filter", options_for_select([["all", nil], "pending", "estimated", "assigned", "completed", "cancelled", "awaiting", "feedback"], @filter)

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Status
        %th Location status
        %th Job name
        %th Date requested
        %th Requested by
        %th Allocated to
        %th Job date and time
        %th Cost
        %th Edit
    %tbody
      = render @jobs
= paginate @jobs
