%h4 Jobs list

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Status
        %th Location status
        %th Job name
        %th Date requested
        %th Requested by
        %th Allocated to
        %th Job date and time
        %th Cost
        %th Edit
    %tbody
      = render @jobs
= paginate @jobs
