%h4 Jobs list

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Status
        %th Job
        %th Date requested
        %th Requested by
        %th Allocated to
        %th Appointment date
        %th Location
        %th Cost
        %th
    %tbody
      = render @jobs
= paginate @jobs
