%h2.hx-default PLEASE SELECT WHEN THE LAST TIME YOU SERVICED YOUR CAR WAS - IN KM OR DATE - WHICHEVER CAME FIRST
%hr.hr-dark-gray
%form{role: "form"}
  .row
    .form-group.col-md-6
      %select.form-control{"data-placeholder" => "Year", tabindex: "1"}
        %option{value: "Category 1"}  5000KMS - 6 Month
        %option{value: "Category 2"}  5000KMS - 6 Month
        %option{value: "Category 3"}  5000KMS - 6 Month
        %option{value: "Category 4"}  5000KMS - 6 Month

  = render partial: 'button_group', locals: { prev_button: prev_button }
