.container
  .col-md-9.cornsilk
    .panel.panel-default.panel-wizard.panel-rounded
      .panel-body
        %ul.nav.nav-pills.nav-justified.nav-pills-wizard
          %li.active.disabled
            = link_to '#' do
              %span 1
              CarDetails
          %li.disabled
            = link_to '#' do
              %span 2
              Diagnose
          %li.disabled
            = link_to '#' do
              %span 3
              Contact
          %li.disabled
            = link_to '#' do
              %span 4
              Quote
        %h2.hx-default ADD YOUR VEHICLE
        %hr.hr-dark-gray
        %form{role: "form"}
          .radio
            %label
              %input{type: "radio", name: "optionsRadios", id: "optionsRadios1", value: "option1", checked: true}
              Car 1
          .radio
            %label
              %input{type: "radio", name: "optionsRadios", id: "optionsRadios2", value: "option2"}
              Car 2
          %button.btn.btn-primary Add vehicle

          %hr
          %button.btn.btn-primary.pull-right
            Continue
            %small &#x276F
  .col-md-3.lightgreen
    .panel.panel-default.panel-rounded
      .panel-body
        %h3.hx-default.panel-title YOU'VE ANSWERED
        %hr.hr-dark-gray
        .progress.progress-rounded
          .progress-bar.progress-bar-gradinet(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
            %span.sr-only 60% Complete
    .panel.panel-default.panel-rounded
      .panel-body
        %h3.hx-default.panel-title VEHICLE
        %hr.hr-dark-gray
        2010 Cadillac DTS L8 Cyl 4.6L
    .panel.panel-default.panel-rounded
      .panel-body
        %h3.hx-default.panel-title CAR SERVICING
        %hr.hr-dark-gray
        30,000km servicing
