.row
  .col-md-12
    = link_to edit_mechanics_profile_path, class: 'btn btn-info pull-right col-md-2 bottom-margin' do
      %i.icon-pencil
      Edit Profile
= render 'shared/view_profile', profile: current_mechanic, title: 'customer reviews'
