---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=35%20Stirling%20Highway,%20Sydney%206009,%20Australia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "35",
                       "short_name" : "35",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "The University of Western Australia",
                       "short_name" : "The University of Western Australia",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Stirling Highway",
                       "short_name" : "Stirling Hwy",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Crawley",
                       "short_name" : "Crawley",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Western Australia",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "6009",
                       "short_name" : "6009",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "35 Stirling Highway, The University of Western Australia, Crawley WA 6009, Australia",
                 "geometry" : {
                    "location" : {
                       "lat" : -31.978558,
                       "lng" : 115.819802
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -31.9772090197085,
                          "lng" : 115.8211509802915
                       },
                       "southwest" : {
                          "lat" : -31.9799069802915,
                          "lng" : 115.8184530197085
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 07 Oct 2013 16:11:55 GMT
recorded_with: VCR 2.6.0
