---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=200%20Broadway%20Av,%20West%20Beach%205024,%20Australia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "West Beach",
                       "short_name" : "West Beach",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "South Australia",
                       "short_name" : "SA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "5024",
                       "short_name" : "5024",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "West Beach SA 5024, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -34.9316461,
                          "lng" : 138.5182593
                       },
                       "southwest" : {
                          "lat" : -34.96438,
                          "lng" : 138.4976111
                       }
                    },
                    "location" : {
                       "lat" : -34.9369636,
                       "lng" : 138.5047153
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -34.9316461,
                          "lng" : 138.5182593
                       },
                       "southwest" : {
                          "lat" : -34.96438,
                          "lng" : 138.4976111
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 07 Oct 2013 15:49:18 GMT
recorded_with: VCR 2.6.0
