= form_tag '?', method: :get, class: 'navbar-form navbar-right' do
  .form-group.right-inner-addon
    = text_field_tag 'query', @query, class: 'form-control input-sm'
    = link_to index_page, class: 'text-muted' do
      %i.glyphicon.glyphicon-remove-circle.clear-field
  .form-group
    = submit_tag 'Search', class: 'btn btn-sm btn-primary'
