.admin {

  .edit_job {

    .item {
      padding-bottom: 7px;
      margin-bottom: 7px;
      border-bottom: 1px solid #eee;

      div, input, select {
        display: inline-block;
      }
      select {
        width: 70px;
      }
      input[name *= "description"], input[name *= "name"] {
        width: 550px;
      }
      input[name *= "quantity"] {
        width: 70px;
      }
      input[name *= "cost"] {
        text-align: right;
        width: 70px;
      }

      .desc {
        width: 65%;
      }
      .subtotal {
        width: 200px;
      }
      .total {
        width: 120px;
        text-align: right;

        input {
          margin-right: -12px;
        }
      }
      .actions {
        width: 30px;
        text-align: right;
      }
    }

    h5 a {
      margin-left: 10px;
    }

    .totals {
      dd {
        width: 90px;
        text-align: right;
      }
    }
  }
}
