.admin {
  .form-group {
    p.help-block {
      font-size: 12px;
      color: #999;
    }

    &.date {
      select:nth-of-type(1) {
        width: 22%;
      }

      select:nth-of-type(2) {
        width: 35%;
      }

      select:nth-of-type(3) {
        width: 18%;
      }
    }
  }

  .right-inner-addon {
    position: relative;

    input {
        padding-right: 30px;
    }
    i {
        position: absolute;
        right: 0px;
        padding: 7px;
        cursor: pointer;
    }
  }

  .edit_job {
    .panel-heading a {
      float: right;
      padding-left: 10px;
    }

    .totals-row {
      padding-top: 10px;

      a {
        margin-right: 10px;
      }
      dl {
        margin: 0;
      }
    }

    .grand-total {
      font-size: 18px;

      dl {
        margin: 0;
      }
      dd {
        padding: 0 15px 0 25px;
      }
    }

    .notes {
      display: block;
      padding-left: 24px;
      max-width: 80%;

      hr {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }

    .item {
      padding-bottom: 7px;
      margin-bottom: 7px;
      border-bottom: 1px solid #eee;

      div, input, select {
        display: inline-block;
      }

      select, .subtotal input, .total input {
        width: 70px;
      }

      .desc {
        width: 40%;
        padding-right: 20px;
      }

      .subtotal {
        width: 220px;
      }

      .total {
        width: 120px;
        text-align: right;

        input {
          margin-right: -12px;
        }
      }

      .actions {
        width: 20px;
      }
    }

    h5 a {
      margin-left: 10px;
    }

    .totals {
      dd {
        width: 90px;
        text-align: right;
      }
    }

    .save-warning {
      padding-right: 15px;
    }
  }

  #regions-progress, #regions-error {
    display: none;
    position: absolute;
    top: 45px;
    right: 25px;
  }

  .indent-left {
    padding-left: 30px;
  }

  ul.symptoms {
    ul {
      padding-left: 20px;
      border: 1px solid #eee;
      border-radius: 5px;
    }
    li {
      padding: 5px 0;
    }
  }

  .edit_payout {
    a.unlock-form {
      margin-top: 10px;
    }
  }
}

.tree {
  max-height: 100% !important;

  ul {
    margin-left: 30px;
  }

  li {
    clear: both;
  }

  & ul ul ul ul li {
    float: left;
    clear: none;

    &::before, &::after {
      border: none;
      content: none;
    }
  }

  input[type=checkbox] {
    margin-left: 3px;
  }
}

.label-completed {
  background-color: #e96a23;
}
