.calendar.week-view {
  padding: 0 30px;

  .fc-agenda td {
    cursor: pointer;
  }

  .fc-event {
    border: none;
    border-radius: 0;
    cursor: not-allowed;
  }

  .fc-event-inner {
    padding-right: 4px;
    background: #32c2cd;
  }

  .fc-agenda .fc-day-content {
    padding: 0;
  }

  .fc-state-highlight {
    background: none;
  }

  table.fc-agenda-days {
    > thead {
      background: #f2f2f2;

      &:first-child {
        border-left: none;
      }

      &.fc-col6 {
        border-right: none;
      }

      th {
        padding: 10px 5px;
        font-weight: normal;
      }
    }

    > tbody th {
      background: #f2f2f2;
      padding: 10px;
    }
    thead th {
      border-top: none;

      &:nth-child(1) {
        border-left: none;
      }

      &:nth-last-child(2) {
        border-right: none;
      }
    }

    tbody > tr {
      border-left: none;

      > th {
        border-bottom: none;
        border-left: none;
      }

      > td {
        border-bottom: none;

        &.fc-col6 {
          border-right: none;
        }
      }
    }
  }

  table.fc-agenda-slots {
    tr th {
      padding: 8px;
      text-align: center;
      border-left: none;
    }
  }

  .fc-content {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #ddd;
    clear: none;
  }
}

.calendar-container {
  .arrows {
    float: left;
    position: absolute;
    font-size: 3.5em;
    line-height: 220px;
    cursor: pointer;
    color: #999;

    &:hover {
      color: #666;
    }

    &.right-arrow {
      right: 30px;
    }

    &.disabled {
      color: #bbb;
    }
  }
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
}
