$btn-default-bg: #2fade7;
$btn-default-bg: #e8e8e8;
$btn-default-color: #000;
$btn-default-border: darken($btn-default-bg, 5%);
$btn-primary-bg: #2fade7;
$btn-primary-color: #fff;
$btn-info-bg: #22c0cb;
$btn-success-bg: #87bb33;
$btn-warning-bg: #fb9800;
$btn-danger-bg: #dc5d3a;

@import "twitter/bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

@font-face {
  font-family: 'CandaraRegular';
  src: asset-url('fonts/candara.eot');
  src: asset-url('fonts/candara.eot') format('embedded-opentype'),
       asset-url('fonts/candara.woff') format('woff'),
       asset-url('fonts/candara.ttf') format('truetype'),
       asset-url('fonts/candara.svg#CandaraRegular') format('svg');
}

html, body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: #666;
  font-size: 13px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.lazure {
  color: #22878e !important;
}

.no-margin {
  margin: 0
}

.header {
  background: #fff;
  border-radius: 0;

  .home-header-link {
    color: #858585;
    font-size: 13px;

    &:hover,
    &:active {
      color: #000;
      text-decoration: none;
    }

    + p {
      color: #858585;
      margin-right: 12px;
    }
  }

  .dropdown-menu {
    background: #fcfcfc;

    a {
      font-size: 13px;
      color: #666;
    }
  }

  .btn + .btn {
    margin-left: 5px;
  }

  .brand img {
    padding-top: 10px;
  }

  .btn-link {
    box-shadow: none;
    border: none;
    margin-top: 3px;

    + .nav {
      margin-top: 3px;
      margin-bottom: 10px;
    }
  }

  button.btn {
    border: none;

    &:focus,
    &:hover,
    &:active {
      color: #fff;
    }

    .caret {
      border-top-color: #999;
    }

    &:active .caret,
    &:hover .caret {
      border-top-color: #fff;
    }
  }

  p.text-right {
    clear: both;
    margin-bottom: 3px;
  }
}

.right-border {
  border-right: 1px dotted #ccc;
}

.wrap {
  height: auto !important;
  min-height: 100%;

  > .container {
    padding-bottom: 90px;
  }
}

.about-wrap {
  @extend .wrap;
  margin-top: -65px;
  padding-top: 65px;
}

.nested-panel {
  background: #fbfbfb;
  border: 1px solid #eaeaea;
  padding: 8px;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  [class *= "glyphicon"] {
    font-size: 11px;
  }

  > .nested-panel {
    margin-bottom: 0;
  }

  .tr-divider {
    margin: 0 15px;
    padding-bottom: 8px;
  }
}

.feedback .row {
  margin-bottom: 10px;
}

i.verified-icon {
  display: inline-block;
  width: 35px;
  height: 31px;
  line-height: 31px;
  background: asset-url('back-symbol.png');
  text-align: center;
  color: #fff;
  font-style: normal;
  font-size: 15px;

  &:hover {
    color: #ccc;
  }

  &.disabled {
    background: asset-url('back-symbol-false.png');
  }
}

.verified-block + span {
  line-height: 31px;
  padding-right: 5px;
}

.btn-dark {
  background: #484848;
  color: #fff;

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: #292929;
    color: #fff;
  }
}

.btn-default {
  color: #000;

  &:hover,
  &:active,
  &:focus {
    color: #000;
  }
}

.social-btn {
  display: inline-block;
  width: 210px;
  height: 34px;
}

.facebook-btn {
  background: asset-url('facebook-btn.jpg');
}

.gmail-btn {
  background: asset-url('gmail-btn.jpg');
}

.black {
  color: #000;
}

.bg-white {
  background: #fff;
}

.bg-blue {
  background: #cde9f3;
}

.about-us {
  padding: 10px 15px 20px;
  position: relative;
  margin-top: -20px;

  p {
    line-height: 25px;
    font-size: 15px;
  }
}

.our-team {
  padding-top: 10px;

  > .container {
    padding-bottom: 70px;
  }

  ul {
    margin-top: 25px;

    > li {
      margin: 10px 0;

      .avatar {
        width: 100px;
        height: 100px;
        float: left;
      }

      .member-description {
        margin-left: 140px;
        border-left: 2px solid #2f8e95;
        padding: 0 0 0 3px;
        position: relative;

        a {
          color: #4c4c4c;
        }

        p {
          font-size: 12px;
          line-height: 28px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: -18px;
          border: 8px solid rgba(255,255,255,0);
          border-right-color: #2f8e95;
        }
      }

      &:nth-child(even) {
        .avatar {
          @extend .pull-right;
        }

        .member-description {
          margin: 0 140px 0 0;
          border-left: none;
          border-right: 2px solid #b14c4c;
          padding: 0 3px 0 0;
          @extend .text-right;

          a {
            color: #b14c4c;
          }

          &:before {
            left: 100%;
            margin-left: 2px;
            border-right: none;
            border-left-color: #b14c4c;
          }
        }
      }
    }
  }
}

.to-upper {
  text-transform: uppercase;
}

.black {
  color: #000;
}

form label {
  font-weight: normal;
}

form input.form-control {
  border-radius: 0px;
  @include box-shadow(0 0 5px #ddd inset);
  border: 1px solid #ddd;
  height: 30px;
}

a[data-toggle = 'modal'] {
  color: #fff;
}

aside {
  h5 {
    margin-top: 0;
    font-size: 15px;
  }

  .panel-default.panel-rounded {
    margin-bottom: 10px;
  }

  ul > li {
    line-height: 25px;

    > span {
      display: inline-block;
      width: 30%;
    }

    [class *= 'icon'] {
      font-size: 11px;
    }
  }
}

section {
  > h4 {
    text-transform: uppercase;
  }
}

.blog-article {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav-stacked {
  li {
    margin-bottom: 10px;
    border-radius: 8px;
    line-height: 30px;
    background: asset-url('side-bar-list-bg.png');

    a {
      color: #777;
      padding: 6px 10px;

      &:focus {
        outline: none;
      }

      .badge {
        background: #e74955;
        margin-left: 8px;
      }
    }

    &:hover a {
      background-color: rgba(0, 0, 0 ,0);
    }

    &.active a,
    &.active:hover a {
      background: #2FADE7;
    }
  }

  .img-circle {
    width: 35px;
    height: 35px;
    background-color: #00B4D4;
    text-align: center;
    margin-right: 12px;
    display: inline-block;
    line-height: 35px;

    > [class *= icon] {
      color: #eee;
      font-size: 16px;
      display: inline-block;
    }
  }

  .active .img-circle {
    background: #fff;
  }
}

.nav-tabs {
  border-bottom: 4px solid #ddd;
  margin-bottom: 25px;

  li.active > a {
    border: 1px solid #ddd;
    background: #ddd;
    border-radius: 0;

    &:focus {
      outline: none;
      background: #ddd;
    }
  }

  &.radio-tabs {
    border: none;

    label {
      font-weight: normal;
    }

    li {
      display: block;
      width: 100%;

      &.active > a {
        border: none;
        background: none;
      }

      a {
        padding: 0;
        color: #666;
        border: none;

        &:hover,
        &:focus,
        &:active {
          background: none;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.accordion {
  margin-bottom: 20px;

  .nested-panel {
    padding: 0;
  }

  .radio input[type = 'radio'] {
    margin-top: 2px;

    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  .accordion-toggle {
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: normal;

    &:focus,
    &:hover {
      outline: none;
      text-decoration: none;
    }
  }

  .panel-heading {
    padding: 0;
  }
}

.faq-accordion .nested-panel {
  margin-bottom: 3px;
}

.profile-border {
  background: asset-url("profile-bg.jpg") no-repeat;
  float: left;
  width: 202px;
  padding: 6px 6px 10px 6px;
  margin: 0 10px;
  position: relative;

  .text-center {
    line-height: 20px;

    > a {
      color: #22878E;
    }
  }

  + div {
    margin:0 13px 0 250px;

    > div {
      display: inline-block;
      width: 100%;
    }
  }

  img + .reviews-row {
    padding-top: 10px;

    + h5 {
      margin-bottom: -10px;
    }
  }
}

.rights {
  .panel-heading {
    height: 40px;
    margin-bottom: 15px;
  }

  .terms-of-use {
    font-size: 12px;
  }

  h5 {
    font-weight: 600;
  }

  .nav-tabs {
    margin: -9px 0 25px;
    border: none;

    li > a {
      font-weight: bold;
      @extend .lazure;

      &:hover,
      &:active {
        background: #fff;
        border: 1px solid #fff;
        outline: none;
      }
    }

    li.active > a {
      border: none;
      border-top: 2px solid #000;
      background: #fff;
      border-radius: 0;
      color: #000 !important;

      &:focus {
        outline: none;
        background: #fff;
      }
    }
  }
}

.reviews-row {
  .review-text {
    font-size: 12px;
  }

  .rating {
    direction: rtl;
    cursor: pointer;

    span {
      background: asset-url("sprite-png.png") no-repeat;
      display: inline-block;
      position: relative;
      height: 15px;
      margin: 0 1px;
      width: 15px;
    }

    span.empty-star {
      background-position: -4px -20px;
    }

    span.full-star,
    span:hover,
    span:hover ~ span {
      background-position: -20px -20px;
    }
  }
}

[id ^= "carousel-example-generic"] .carousel-inner {
  width: 90%;
  margin: 0 auto -15px;
  text-align: center;

  th {
    text-align: center;
  }
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  top: 18%;
  color: #ddd;
  text-shadow: none;
}

.carousel-control.left {
  left: -30px;
}

.carousel-control.right {
  right: -30px;
}

.carousel-control:focus {
  outline: none;
  text-decoration: none;
}

.vertical-align {
  line-height: 34px;
  height: 34px !important;
}

.info {
  background: #32C2CD !important;

  a {
    color: #fff;

    &:hover {
      color: #000;
    }
  }
}

.finder {
  height: 34px;

  .email-input {
    float: left;
    width: 70%;
    height: 100%;

    + .subscribe-btn {
      float: left;
      width: 30%;
      height: 100%;
    }
  }
}

.cars-list li {
  line-height: 40px;
  font-size:  15px;
}

.form-group {
  &.date {
    label {
      display: block;
    }

    select:nth-child(1) {
      width: 22%;
    }

    select:nth-child(2) {
      width: 35%;
    }

    select:nth-child(3) {
      width: 18%;
    }
  }

  select {
    display: inline-block;

    &.datetime:nth-child(1) {
      width: 18%;
    }

    &.datetime:nth-child(2) {
      width: 30%;
    }

    &.datetime:nth-child(3) {
      width: 12%;
    }

    &.datetime:nth-child(4) {
      width: 12%;
    }

    &.datetime:nth-child(5) {
      width: 12%;
    }
  }
}

.jumbotron {
  background: none;
}

.alert {
  margin: 10px 0;
  padding: 8px 15px;

  h4 {
    margin-bottom: 0;
  }
}

.home-gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;

  > div {
    position: absolute !important;
    top: 0;
    height: 100%;
  }
}

.banner,
.banner h1,
.mechanio-video p,
.how-it-works h1,
.how-it-works h3,
.how-it-works p,
.responsive-view .img-responsive + p,
.sign-up-wrap p,
.sign-up-block .btn {
  font-family: CandaraRegular;
}

.banner {
  height: 100%;
  margin-top: -85px;

  > .container {
    padding-top: 10%;
  }

  h1, h5 {
    color: #fff;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;

    + h5 {
      margin-top: -5px;
    }
  }

  .btn {
    box-shadow: none;
    font-size: 20px;

    + .btn {
      margin: 0 0 0 10px;
    }

    &,
    &:hover,
    &:active {
      @include border-radius(8px);
    }
  }
}

.home-page-wrapper {
  padding-bottom: 70px;
}

.mechanio-video {
  padding: 10px 0 0;

  p {
    font-size: 30px;
  }
}

.how-it-works {
  padding: 10px 0 40px;

  .img-circle {
    width: 140px;
    height: 140px;
    background: white;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 140px;
    color: #018EC2;
    cursor: pointer;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 50px;
  }

  h1 + h3 {
    color: #0186b2;
    margin: 40px 0 50px;
    font-size: 30px;
  }
}

.responsive-view {
  padding: 10px 0 25px;

  .img-responsive {
    display: inline-block;

    + p {
      color: #0186b2;
      font-size: 50px;
    }
  }
}

.sign-up-wrap {
  background: #ddd;
  padding: 20px 0 10px;

  p {
    font-size: 20px;
  }
}

.sign-up-block {
  margin-top: 15px;
  background: #fff;
  padding: 4px;
  border-radius: 8px;

  input {
    border: none;
    height: 40px;
    font-size: 18px;
  }

  .btn {
    height: 40px;
    box-shadow: none;
    border-radius: 8px;
    font-size: 16px;

    &:hover {
      border-radius: 8px;
    }
  }
}

.home-page-reviews {
  position: relative;
  padding: 25px 0 20px;

  .commentary-block {
    min-height: 95px;
  }

  .carousel-control {
    font-size: 50px;
    top: 30px;
    width: auto;
  }

  .carousel-control.left {
    left: -90px;
  }

  .carousel-control.right {
    right: 100%;
    left: -100px;
  }

  a {
    color: #fb9800;
  }
}

.marketing {
  padding: 25px 0 45px;

  .carousel-inner {
    width: 90%;
    margin: 0 auto;

    li {
      float: left;
      min-width: 100px;
      margin: 0 10px;
      line-height: 25px;
      border-bottom: 1px solid #ccc;
    }
  }

  .carousel-control {
    width: 20px;
    font-size: 100px;
    color: #fff;
    top: 5%;
  }

  .carousel-control.left {
    left: 20px;
  }

  .carousel-control.right {
    right: 20px;
  }
}

[class *= 'alert'] + .btn {
  margin-top: 5px;
}

.cancel-job {
  border-radius: 8px;
}

.social {
  [class *= 'icon'] {
    color: #22878e;
    font-size: 30px;
    margin-left: 2px;
  }
}

.header-social {
  font-size: 20px;
  margin-bottom: 5px;
  position: relative;
  bottom: 3px;

  a {
    @extend .lazure;
  }
}

.blog a,
.contact-us a{
  @extend .lazure;
}

.contact-us {
  font-size: 15px;
}

.bottom-margin {
  margin-bottom: 10px;
}

.top-margin {
  margin-top: 10px;
}

.btn {
  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.2) inset);
  border-radius: 0;
  outline: 0;

  &:hover {
    border-radius: 0;
    box-shadow: none;
  }
}

.vertical-divider-sm {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  padding-right: 5px;
  border-left: 1px solid #ddd;
}

.panel-body > .progress:last-child {
  margin-bottom: 0;
}

.progress.progress-rounded {
  border-radius: 12px;
  height: 24px;
}

.progress-bar.progress-bar-gradinet {
  background-image: linear-gradient(to bottom, #8BD8FF, #0480be);
  background-repeat: repeat-x;
}

.hr-dark-gray {
  margin: 5px 0 10px;
  border-top-color: #c8c8c8;
}

.hx-default {
  font-size: 1.15em;
  font-weight: 300;
  @extend .to-upper;
  color: #010101;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 3px;
}

.panel-default {
  &.panel-rounded {
    border: none;
    @include box-shadow(0 0 5px #ddd);
    border-radius: 8px;
    margin-bottom: 20px;

    > .panel-heading {
      background: asset-url("widget-title-bg.jpg") repeat-x;
      border-radius: 8px 8px 0 0;
      padding: 9px 15px;
    }
  }
}

.panel-heading {
  position: relative;

  .tools {
    position: absolute;
    right: 10px;
    top: 3px;
    padding: 6px 0 5px 6px;
    border-left: 1px solid #E0DEDE;

    a {
      color: #979797;
      font-size: 14px;

      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }
}

form .radio {
  line-height: 23px;
}

.form-group img {
  display: block;
}

.file-input-wrapper {
  display: block;
  margin-top: 10px;
}

.file-input-name,
.btn + span {
  line-height: 34px;
}

.form-line-height {
  line-height: 27px !important;
}

.form-horizontal legend {
  font-size: 18px;
  color: #555;
}

.hr-dark-gray + .btn-danger {
  top: -53px;
}

.footer {
  background: asset-url("footer-bg.jpg") repeat-x scroll left top #17130F;
  color: #FFFFFF;
  font-size: 15px;
  padding: 20px 20px 5px;
  height: 70px;
  position: relative;
  margin-top: -70px;

  .navbar-nav {
    text-transform: uppercase;

    a {
      color: #fff;
      font-size: 13px;
      padding: 0 20px 0 0;

      &:hover {
        color: #06f;
        background: none;
      }
    }
  }

  .social {
    position: relative;
    top: -3px;
    margin-left: 5px;

    [class^="icon-"] {
      font-size: 30px;
    }

    .icon-facebook-sign {
      color: #0567a5;
    }

    .icon-twitter-sign {
      color: #29a9e0;
    }

    .icon-google-plus-sign {
      color: #d3492c;
    }
  }
}

.tr-divider {
  border-bottom: 1px dotted #ccc !important;

  ~ .btn {
    margin-left: 10px;
  }
}

.big {
  font-size: 1.5em;
}

.small {
  font-size: .75em;
}

table.table {
  font-size: 12px;

  .label {
    font-size: 100%;
  }

  .info-icons {
    min-width: 60px;
  }

  thead th {
    border-bottom-width: 1px;
    font-weight: normal;
  }

  table {
    margin: -8px 0;

    td {
      padding: 8px 0;
    }
  }

  select,
  input {
    display: inline-block;
  }

  + .btn {
    margin-top: -13px;
  }
}

.table-borderless td {
  border: none !important;
}

form {
  font-size: 13px;

  input.input-width {
    width: 206px;

    + .btn {
      height: 31px;
      margin-left: 5px;
    }
  }

  .btn[data-toggle="modal"] {
    color: #fff;
  }
}

.modal{
  padding-top: 2%;

  .review-block {
    @include box-shadow(0 0 5px #ddd);
    max-height: 542px;
    overflow: hidden;
    border-radius: 8px;
  }

  .modal-header {
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
    background: asset-url("widget-title-bg.jpg") repeat-x rgba(0, 0, 0, 0);
    position: relative;

    h5 {
      font-weight: bold;
    }

    .close {
      border-left: 1px solid #E0DEDE;
      padding: 4px 2px 4px 7px;
      position: absolute;
      right: 10px;
      top: 8px;
      font-size: 18px;
    }
  }

  .panel-body.modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
  }
}

.fix-first-slide {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  margin-left: 0px;
  margin-top: 0;
  opacity: 1;
  top: 0px;
  left: 0px;
  z-index: -1;
}
