.new-payment {
  .equal-height {
    display: table;
    margin-bottom: 20px;

    .panel {
      display: table-cell;
    }

    .job-details {
      width: 65%;
    }

    .divider {
      width: 15px;
    }
    .price-breakdown {
      width: 34%;
    }
  }

  .btn-book-mechanic {
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
    background-color: #FF8F00;
    border-color: #FF8F00;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
  }

  .job-details {
    th, td {
      vertical-align: top;
      padding: 3px 0;
    }

    th {
      width: 80px;
    }
  }

  .price-breakdown {
    position: relative;
    padding-bottom: 15px;

    table {
      width: 100%;
      margin-bottom: 30px;
    }

    tbody {
      th, td {
        vertical-align: top;
        padding: 3px 0;
      }

      th {
        font-weight: normal;
        width: 76%;
      }
      td {
        text-align: right;
      }

      .tr-divider {
        height: 15px;
      }
    }

    .payment-notice {
      text-align: center;
      color: red;
      padding-bottom: 15px;
    }

    .promo-code {
      label {
        display: block;
      }
      input {
        float: left
      }
      input.string {
        width: 170px;
        margin-right: 10px;
      }
    }
  }
}
