%p Hi #{@resource.first_name},

%p Welcome to Mechanio – the convenient service that sends a professional mechanic of your choice to service or repair at your home or office.

%p In order to get started, please click on the link below: 

%p= link_to 'Validate my account now!', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

= render '/shared/mail_footer'
