:scss
  .modal.fade {
    opacity: 1;
  }

  .fade, .fade.in, .modal.fade, .modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
